---
import Layout from "../layouts/Layout.astro"

---

<Layout title="SpaceX launches">

    <h1 class="text-white">about the project</h1>
    <p class="text-white">THe SpaceX launches is a demo for the Adtro course</p>
</Layout>
